<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.v2.appclientevip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.com.v2.appclientevip.view.LinhaDetalheActivity"></activity>
        <activity android:name="br.com.v2.appclientevip.view.ConsultarClientesActivity" />
        <activity android:name="br.com.v2.appclientevip.view.RecuperarSenhaActivity" />
        <activity android:name="br.com.v2.appclientevip.view.ClientePessoaJuridicaActivity" />
        <activity android:name="br.com.v2.appclientevip.view.ClientePessoaFisicaActivity" />
        <activity android:name="br.com.v2.appclientevip.view.ClienteVip" />
        <activity android:name="br.com.v2.appclientevip.view.LoginActivity" />
        <activity android:name="br.com.v2.appclientevip.view.MainActivity" />
        <activity android:name="br.com.v2.appclientevip.view.CredencialDeAcessoActivity" />
        <activity android:name="br.com.v2.appclientevip.view.SplashActivity" android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>